html {
    background-color: #e9e9ea !important;
    background-image: none !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background: #fff;
}

a {
    display: inline-block;
    width: auto;
    color: #4195B9 !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
}

a img {
    float: left;
    margin-top: 8px;
}

body {
    background-color: #e9e9ea;
    color: #5a5a5f !important;
}

.ping-button.normal.allow {
    background-color: #EF2637;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff !important;
}

.section-title {
    color: #EF2637;
    font-size: 16px !important;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px !important;
    margin-bottom: 35px !important;
}

.ping-header {
    color: #5a5a5f !important;
    text-align: left !important;
    padding: 0px 50px !important;
    padding-top: 35px !important;
    font-size: 42px !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: normal !important;
    max-width: 480px !important;
}

hr {
    border: 2px solid #EF2637;
    width: 20px;
    margin: 0px;
    margin-top: 25px;
}

.ping-input-label {
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: none !important;
    font-size: 16px !important;
    color: #5a5a5f !important;
    font-weight: lighter !important;
}

.ping-footer-container {
    background-color: #e9e9ea;
    color: #5a5a5f !important;
}

.ping-body-container {
    margin-bottom: 0px !important;
    max-width: 480px !important;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    color: #5a5a5f !important;
    background-color: white !important;
    border-color: #ccc !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    border-color: #888 !important;
    outline: 0;
    box-shadow: none;
}

.ping-button.deny {
    color: #4195B9 !important;
    font-family: 'Ubuntu', sans-serif;
}

body .ping-signin .ping-body-container .ping-steps .step span, body .ping-password .ping-body-container .ping-steps .step span {
    color: #4195B9 !important;
    border: 1px solid #4195B9 !important;
}

body .ping-signin .ping-body-container .ping-steps .step label, body .ping-password .ping-body-container .ping-steps .step label {
    color: #4195B9 !important;
}

/* filled circle */
body .ping-signin .ping-body-container .ping-steps .step.active span, body .ping-password .ping-body-container .ping-steps .step.active span {
    color: #fff !important;
    background-color: #4195B9 !important;
}

.ping-messages{
    color: #EF2637;
    font-size: 16px !important;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px !important;
    margin-bottom: 35px !important;
}

.required:before {
    background-color: #fff !important;
}